.Profiles {
  width: 100%;
  display: flex;
  gap: 1.25rem;
  align-items: center;

  padding: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.Profiles__Img {
  width: 100px;
  height: 100px;
  border-radius: 50%;

  align-self: flex-start;
  /* background-color: green; */
}

.Profiles__TextCon {
  margin-top: 2.5rem;
}

.Profiles__Btn {
  padding: 1rem 3rem;
  font-size: var(--bodyFontSize);
  align-self: flex-start;
  float: right;
}

.Profiles__Title {
  font-size: var(--headingFontSize);
  font-weight: var(--fw-tri);
  text-transform: uppercase;
}

.subText,
.testScoreCon {
  margin-left: 1.5rem;
  margin-top: 0.25rem;
}
.testScoreCon {
  margin-top: 2rem;
  display: none;
}

.showCon {
  display: block;
}
